<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center titulo-header" color="primary">¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h1 style="color: #3880ff;">Restablece tu Contraseña</h1>
    <ion-input type="text" placeholder="Correo Electronico" label="Correo: " labelPlacement="floating"
      [clearInput]="true" text fill="solid"></ion-input>
    <br><br>
    <!-- REDIRECCIONA AL USUARIO -->
    <ion-button [routerLink]="['/ingreso-de-usuario']" color="primary">
      RECUPERA
      <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="ingreso-de-usuario"></ion-back-button>
  </ion-buttons>
</ion-content>

<app-footer></app-footer>