<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center titulo-header" color="primary">¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="resetForm" (submit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <div *ngIf="resetForm.controls['email'].invalid && resetForm.controls['email'].touched">
      <p class="error-text texto-error-resetpw" *ngIf="resetForm.controls['email'].errors?.['required']">Correo
        requerido!</p>
      <p class="error-text texto-error-resetpw" *ngIf="resetForm.controls['email'].errors?.['email']">Ingrese un correo
        valido!</p>
    </div>

    <ion-button [routerLink]="['/inicio']" expand="block" type="submit" [disabled]="!resetForm.valid">Recuperar
      Contraseña</ion-button>

  </form>
</ion-content>

<app-footer></app-footer>