<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 *ngIf="currentSharedValue === ''; else valueTemplate" class="titulo-header" style="color: #3880ff;">Bienvenido Usuario</h1>
      <ng-template #valueTemplate>
        <h1 class="titulo-header" style="color: #3880ff; font-weight: bolder;">Bienvenido {{ currentSharedValue | titlecase }}</h1>
      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="\assets\asistencia.png" alt="IMAGEN DE PRUEBA">
  </ion-card>
  <br>
  <div class="ion-text-center">
    <ion-button [routerLink]="['/ingreso-de-usuario']" color="primary">
      Ir a Pagina de Inicio de Sesión
    </ion-button>
  </div>
</ion-content>

<app-footer></app-footer>