<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      <h1 *ngIf="currentSharedValue === ''; else valueTemplate" style="color: rgb(150, 150, 150);">Bienvenido Usuario</h1>
      <ng-template #valueTemplate>
        <h1 style="color: rgb(150, 150, 150);">Bienvenido {{ currentSharedValue | titlecase }}</h1>
      </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="\assets\asistencia.png" alt="IMAGEN DE PRUEBA">
  </ion-card>
  <br>
  <div class="ion-text-center">
    <ion-button [routerLink]="['/ingreso-de-usuario']" color="success">
      Ir a Pagina de Inicio de Sesión
      <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
   <div class="ion-text-center">
    <ion-title>Copyright </ion-title>
    <label style="color: rgb(139, 139, 139);">@ Calderón - Meza</label>
  </div>
  </ion-toolbar>
</ion-footer> -->
<app-footer></app-footer>